@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

nav {
    position: fixed;
    inset: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}
button {
    width: 50px;
    height: 50px;
    background: none;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    color: #e9f8f9;
}

#loading {
    position: fixed;
    inset: 0;
    background-color: #181823;
    color: #c0eef2;
    z-index: 99;
    transition: opacity 2s;
}

#load-percent {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}

#loading:has(#load-percent[data-percent="100"]) {
    opacity: 0;
    pointer-events: none;
}

.webgl {
    position: fixed;
    inset: 0;
}

/** 
 * Spinner
 * https://tobiasahlin.com/spinkit/
 */
.spinner {
    margin: 45vh auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #c0eef2;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
