@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

nav {
    position: fixed;
    inset: 1rem 0 auto;
    margin-inline: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

button {
    background: none;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    color: #e5e5cb;
}

i {
    color: #e5e5cb;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.fa-stack > .fa-solid {
    opacity: 0;
}

.webgl {
    position: fixed;
    inset: 0;
}

#loading {
    position: fixed;
    inset: 0;
    background-color: #1a120b;
    z-index: 99;
    transition: opacity 2s;
}

#load-percent {
    position: fixed;
    inset: auto auto 2rem 4rem;
    text-transform: uppercase;
    font-size: 16rem;
    color: #e5e5cb;
}

#loading:has(#load-percent[data-percent="100"]) {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 640px) {
    i {
        font-size: 0.75em;
    }

    #load-percent {
        inset: auto auto 1rem 2rem;
        font-size: 4.5rem;
    }
}
